<header>
    <nav>
        <h1> Timekeeping</h1>
        <li><a href="/">Home</a></li>
        <li><a href="/staffs">Staffs</a></li>
        <li><a href="/staffs/new">Add Staff</a></li>
        <br>
    </nav>
</header>