<h2>Timekeeping History</h2>
<form action="/" method="POST">
  <input type="text" placeholder="Input ID" name="id" />
  <button type="submit" name="first" value="1">CheckIn</button>
  <button type="submit" name="second" value="1">CheckOut</button>
</form>
<a href="/checkin">Checkin History</a>
<a href="/checkout">Checkout History</a>
