<a href="/staffs/all">See All</a>
<form action="/staffs" method="POST">
  <input type="Text" placeholder="Search" name="id" />
  <a href="/staffs">Cancel</a>
  <button type="Submit">Search</button>
</form>
