<h2>Add Staff</h2>
<form action="/staffs/new" method="POST">
  <input type="text" placeholder="Input ID" name="id" />
  <input type="text" placeholder="Input Name" name="name" />
  <a href="/staffs">Cancel</a>
  <button type="Submit">Create</button>
</form>
